@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&family=Roboto+Condensed:wght@600&display=swap');
@import "tailwindcss";


:root {
  --background: #fffafa;
  --foreground: #382d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* FAVA Colors */
  --color-fava-red: #e52929;
  --color-fava-darkred: #c20b0b;
  --color-fava-darkred2: #d30d0d;
  --color-fava-lightred: #f26666;
  --color-fava-verylightred: #ff9797;
  --color-fava-white: #fffafa;
  --color-fava-darkgray: #382d2d;
  --color-fava-mediumgray: #776b6b;
  --color-fava-lightgray: #eadfdf;
  
  /* Complementary */
  --color-fava-blue: #70abe0;
  --color-fava-green: #a7ce8e;
  --color-fava-amber: #ffb600;
  --color-fava-magenta: #5e2240;

  /* Fonts */
  --font-satoshi: 'Satoshi', sans-serif;
  --font-public: 'Public Sans', sans-serif;
  --font-acumin: 'Acumin Pro Condensed', 'Roboto Condensed', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-public);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: var(--color-fava-white); 
}
::-webkit-scrollbar-thumb {
    background: var(--color-fava-lightgray); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-fava-mediumgray); 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
